footer.footer 
    .footer__contacts.contacts 
        .contacts__title Барбершоп Бородинский
        address.contacts__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8
    .footer__social.social 
        b.social__title Давайте дружить!
        ul.social__list
            li.social__item
                a.social__link.social__link--vkontakte(href="") Vkontakte
            li.social__item
                a.social__link.social__link--facebook(href="") Facebook
            li.social__item
                a.social__link.social__link--instagram(href="") Instagram
    .footer__copyright.copyright 
        .copyright__title Разработано:
        a.copyright__link.button.button--copyright HTMLAcademy


