section.reviews 
    h2.reviews__title Отзывы о нас
    a(href="").button.reviews__write Оставить свой
    .reviews__wrapper.slider 
        ul.reviews__list.slider__list 
            li.reviews__item.slider__item 
                blockquote
                    img(src="" alt="")
                    .reviews__author-info 
                        cite.reviews__author-name Иван Бородайло
                        p.reviews__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, что бы было видно новую татуировку!
        button.reviews__prev <
        button.reviews__next >
        .reviews__toggles.slider__toggles 
            button.slider__toggle.slider__toggle--current 1
            button.slider__toggle 2
            button.slider__toggle 3