section.stats
    header.stats__header
        p.stats__slogan Стрижка у нас это выгодно!
        p.stats__intro Мужская стрижка требует точного#[br] подхода. Обратимся к статистике:
        small.stats__legend.stats__legend--top * - приведенные данные ложь
    dl.stats__list 
        .stats__item
            dt.stats__number 1500 *
            dd.stats__description рублей #[br] вложений
        .stats__item
            dt.stats__number 7200
            dd.stats__description секунд #[br] времени мастера
        .stats__item
            dt.stats__number 90 000
            dd.stats__description постриженных #[br] волос
        .stats__item
            dt.stats__number 500 000
            dd.stats__description лайков и #[br] комментов
    small.stats__legend.stats__legend--bottom * - приведенные данные ложь