$white-color: #fff;
$black-color: #000;
$light-gray-color: #f8f5f2;
$header-color: #242424;
$dark-gray-color: #353535;
$mobile-menu-color: #826550;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$mobile-breakpoint: 767px;
