doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title App
    body 
        include pug/header.pug
        main.main
            include pug/stats.pug
            include pug/advantages.pug
            include pug/news.pug
            include pug/reviews.pug